
{% extends 'base.html'%}

{% load static %}
{% block content %}

<div class="container content">
    <div class="row">
        <div class="col-md-12" text-center>
            <div class="card">
                <h2>All Pastes</h2>
                <table class="table" align="center">
                    <thead>
                        <tr>
                            {% for k in header %}
                            <th>{{k}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in pastes %}
                            <tr>
                                {%if p.author%}
                                <td>  {{p.author.username}}</td>
                                

                                {%else%}
                                <td>  Guest </td>
                                {%endif%}
                                <td> <a href="{%url 'paste:pasteView' p.id%}"> {{p.title}}</a></td>
                                
                                <td>{{p.created_at}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
            </div>

       
    </div>
</div>  
{% endblock %}